div#overlay{
    opacity: 0.9;
    /*必要ないと感じ一応コメントアウト
   -moz-opacity: 0.9;
    */
   /*IE6だとdisplay属性絡みで動かなくなるそうなのでコメントアウト
   filter: alpha(opacity=90);
   */
   background-color:#303030;
   width:100%;
   height:100%;
   /*position:fixed;*/
   position:absolute;
   top:0px;
   left:0;
   display:none;
}